<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/B_128px_1064965_easyicon.net.ico" th:href="@{/images/B_128px_1064965_easyicon.net.ico}" type="image/x-icon"/>
    <title>数据统计</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
    <script src="../../static/lib/echarts/china.js" th:src="@{/lib/echarts/china.js}"></script>
</head>
<style type="text/css">
#five,#two,#three,#four{width: 600px;height:400px;border: 0px solid gainsboro;float: left;margin: 60px;}
</style>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<!--<div id="one"></div>-->
<div id="two"></div>
<div id="three"></div>
<div id="four"></div>
<div id="five"></div>
<script type="text/javascript">

    var dataList=[
        {name:"南海诸岛",value:"[[${p34}]]"},
        {name: '北京', value: "[[${p0}]]"},
        {name: '天津', value: "[[${p6}]]"},
        {name: '上海', value: "[[${p7}]]"},
        {name: '重庆', value: "[[${p8}]]"},
        {name: '河北', value: "[[${p9}]]"},
        {name: '河南', value: "[[${p20}]]"},
        {name: '云南', value: "[[${p27}]]"},
        {name: '辽宁', value: "[[${p11}]]"},
        {name: '黑龙江', value: "[[${p13}]]"},
        {name: '湖南', value: "[[${p22}]]"},
        {name: '安徽', value: "[[${p16}]]"},
        {name: '山东', value: "[[${p19}]]"},
        {name: '新疆', value: "[[${p5}]]"},
        {name: '江苏', value: "[[${p14}]]"},
        {name: '浙江', value: "[[${p15}]]"},
        {name: '江西', value: "[[${p18}]]"},
        {name: '湖北', value: "[[${p21}]]"},
        {name: '广西', value: "[[${p30}]]"},
        {name: '甘肃', value: "[[${p2}]]"},
        {name: '山西', value: "[[${p10}]]"},
        {name: '内蒙古', value: "[[${p29}]]"},
        {name: '陕西', value: "[[${p1}]]"},
        {name: '吉林', value: "[[${p12}]]"},
        {name: '福建', value: "[[${p17}]]"},
        {name: '贵州', value: "[[${p26}]]"},
        {name: '广东', value: "[[${p23}]]"},
        {name: '青海', value: "[[${p3}]]"},
        {name: '西藏', value: "[[${p31}]]"},
        {name: '四川', value: "[[${p25}]]"},
        {name: '宁夏', value: "[[${p4}]]"},
        {name: '海南', value: "[[${p24}]]"},
        {name: '台湾', value: "[[${p28}]]"},
        {name: '香港', value: "[[${p32}]]"},
        {name: '澳门', value: "[[${p33}]]"}
    ];
    // 基于准备好的dom，初始化echarts实例
    var two = document.getElementById('two');
    var three = document.getElementById('three');
    var four = document.getElementById('four');
    var five = document.getElementById('five');
    var charts = [];

//图表2
        mychart=echarts.init(two);
        option = {
            title: {
                text: '一周内用户浏览统计',
                left: 'center'
            },
            xAxis: {
                type: 'category',
                data: ["[[${time6}]]", "[[${time5}]]", "[[${time4}]]", "[[${time3}]]", "[[${time2}]]", "[[${time1}]]", "[[${time}]]"]
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: ["[[${day6}]]", "[[${day5}]]", "[[${day4}]]", "[[${day3}]]", "[[${day2}]]", "[[${day1}]]", "[[${day}]]"],
                type: 'line',
                smooth: true
            }]
    };
    mychart.setOption(option);
    charts.push(mychart);
    window.onresize = function () {
    for (var i=0;i<charts.length;i++){
        charts[i].resize();
    }
    };

//图表3
        mychart=echarts.init(three);
        option = {
            title: {
                text: '半个月内网络类型分布',
                // subtext: '纯属虚构',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['移动', '联通', '电信', '腾讯', '阿里','纯真','其他']
            },
            series: [
                {
                    name: '网络类型',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: "[[${a}]]", name: '移动'},
                        {value: "[[${b}]]", name: '联通'},
                        {value: "[[${c}]]", name: '电信'},
                        {value: "[[${d}]]", name: '腾讯'},
                        {value: "[[${e}]]", name: '阿里'},
                        {value: "[[${f}]]", name: '纯真'},
                        {value: "[[${g}]]", name: '其他'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
    };
    mychart.setOption(option);
    charts.push(mychart);
    window.onresize = function () {
    for (var i=0;i<charts.length;i++){
        charts[i].resize();
    }
    };

//图表4
        mychart=echarts.init(four);
        option = {
            title: {
                text: '半个月内设备类型分布',
                // subtext: '纯属虚构',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['COMPUTER', 'MOBILE', '其他']
            },
            series: [
                {
                    name: '设备类型',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: "[[${computer}]]", name: 'COMPUTER'},
                        {value: "[[${mobile}]]", name: 'MOBILE'},
                        {value: "[[${otherDevice}]]", name: '其他'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
    };
    mychart.setOption(option);
    charts.push(mychart);
    window.onresize = function () {
    for (var i=0;i<charts.length;i++){
        charts[i].resize();
    }
    };

    //图表5
    mychart=echarts.init(five);
    option = {
        title: {
            text: '半个月内国内用户分布',
            // subtext: '纯属虚构',
            left: 'center'
        },
        tooltip: {
            formatter:function(params,ticket, callback){
                return params.seriesName+'<br />'+params.name+'：'+params.value
            }//数据格式化
        },
        visualMap: {
            min: 0,
            max: "[[${max}]]",
            left: 'left',
            top: 'bottom',
            text: ['高','低'],//取值范围的文字
            inRange: {
                color: ['lightskyblue', 'yellow', 'orangered']//取值范围的颜色
            },
            show:true//图注
        },
        geo: {
            map: 'china',
            roam: false,//不开启缩放和平移
            zoom:1.23,//视角缩放比例
            label: {
                normal: {
                    show: true,
                    fontSize:'10',
                    color: 'rgba(0,0,0,0.7)'
                }
            },
            itemStyle: {
                normal:{
                    borderColor: 'rgba(0, 0, 0, 0.2)'
                },
                emphasis:{
                    areaColor: '#F3B329',//鼠标选择区域颜色
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowBlur: 20,
                    borderWidth: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series : [
            {
                name: '信息量',
                type: 'map',
                geoIndex: 0,
                data:dataList
            }
        ]
    };
    mychart.setOption(option);
    charts.push(mychart);
    window.onresize = function () {
        for (var i=0;i<charts.length;i++){
            charts[i].resize();
        }
    };
</script>
</body>
