<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="user/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="user/_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" ></nav>


<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
  <div class="ui container">
    <div class="ui success large  message">
      <h3>Hi,<span th:text="${session.user.nickname}"></span></h3>
      <p>欢迎登录！</p>
    </div>
    <img alt="share1.jpg" src="http://pic.xxmlp.top/uploadImages/49/232/25/149/2020/03/18/02/20/11d05da4-b16b-4a4c-a2e2-848e81884589.jpg" class="ui rounded bordered fluid image">
    <!--      <img src="https://github.com/XXMLP/Images/blob/master/share1.jpg" alt="" class="ui rounded bordered fluid image">-->
  </div>
</div>

<br>
<br>

<!--底部footer-->
<footer th:replace="user/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive" />

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

</script>
</body>
</html>