<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>域名证书</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  </nav>

  <!--中间内容-->
  <div style="width: 60%;position : relative;padding-bottom : 10%;margin: 0 auto;">
    <img alt="certificate.jpg" src="http://pic.xxmlp.top/uploadImages/172/17/0/1/2020/05/30/13/21/fbfcbf7f-fcef-4296-b4a7-0cd514223f01.jpg" style="width: 90%">
<!--    <img src="https://raw.githubusercontent.com/XXMLP/Images/master/certificate.jpg" class="ui rounded image" alt="" style="width: 90%">-->
  </div>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive" />

  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>